page-signup {
  .back {
    position: relative;
    background: url('../assets/img/back2.jpeg') no-repeat transparent;
    background-size: cover;
 
  }
  .my-menu {
background-color: rgba(0,0,0,0);
color: #FFFFFF;
}

}
